.search-card {
    margin: 20px;
    padding: 20px;

    .search-input {
        margin-right: 10px;
    }
}

.user-details-card {
    margin: 20px;
    padding: 20px;

    img {
        width: 100px;
        border-radius: 50%;
    }

    p {
        margin-bottom: 10px;
    }

    a {
        color: blue;
    }
}